<!DOCTYPE html>

<html>

<head>
{{ template "header" }}

    <script src="/static/assets/bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/static/assets/bower_components/bootstrap-table/dist/bootstrap-table-locale-all.min.js"></script>

    <link rel="stylesheet" href="/static/assets/bower_components/bootstrap-table/dist/bootstrap-table.min.css"/>

</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

{{ template "navbar" }}

{{ template "sidebar" .}}

    <div class="content-wrapper">

        <section class="content-header">
            <h1>Permission <a href="/permission/?type=new"><i class="glyphicon glyphicon-plus"></i></a></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Permission</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header with-border" style="height:45px;">
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width:150px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <table data-toggle="table" id="perm_table" class="text-center">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Method</th>
                                    <th>Path</th>
                                    <th>Create time</th>
                                    <th>Update time</th>
                                    <th>Status</th>
                                    <th>Operate</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{ range $record := . }}
                                <tr>
                                    <td>{{$record.ID}}</td>
                                    <td>{{$record.Name}}</td>
                                    <td>{{$record.Slug}}</td>
                                    <td>{{$record.Method}}</td>
                                    <td>{{$record.Path}}</td>
                                    <td>{{$record.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
                                    <td>{{$record.UpdatedAt.Format "2006-01-02 15:04:05"}}</td>
                                    <td>
                                    {{ if $record.DeletedAt }}
                                        <span class="label label-danger">deleted</span>
                                    {{else}}
                                        <span class="label label-success">ok</span>
                                    {{end}}
                                    </td>
                                    <td>
                                        <a href="#"><i class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0);"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {{ end }}
                                </tbody>
                            </table>
                        </div>

                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </section>

    </div>
</div>

</body>

</html>
