<!DOCTYPE html>

<html>

    <head>
    {{ template "header" }}

    <link rel="stylesheet" href="/static/assets/bower_components/bootstrap-table/dist/bootstrap-table.min.css"/>

    <script src="/static/assets/bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="/static/assets/bower_components/bootstrap-table/dist/bootstrap-table-locale-all.min.js"></script>

    </head>

    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        {{ template "navbar" }}

        {{ template "sidebar" .}}

        <div class="content-wrapper">

            <section class="content-header">
                <h1>Team users</h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">user</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Developers</h3>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-infox">Add</button>
                                <div class="box-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table table-bordered" id="user_table"></table>
                            </div>
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    <li><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="modal modal-info fade" id="modal-infox" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Info Modal</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->

        <script src="/static/assets/dist/js/pages/user.js"></script>
    </body>


</html>
